* {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: top;
}

table {
    border: 0;
    border-spacing: 0;
}

td {
    padding: 0;
}

.form {

}

.form .F_control {
    background-color: #FAFAFA;
    border: 1px solid #E7E7E7;
    padding: 10px;
    border-top-color: #fff;
}

.form .F_control:first-child {
    border-top-color: #E7E7E7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form .F_control:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form .F_control .FC_title {
    vertical-align: middle;
    color: #AAAAAA;
    text-shadow: 0 1px #FFF;
    width: 50%;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.form .F_control input{
    vertical-align: middle;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="password"] {
    border: 1px solid #B9B9B9;
    border-bottom-color: #A3A3A3;
    margin: 2px;
    padding: 2px 5px;
    border-radius: 4px;
    box-shadow: inset 1px 1px #E6E6E6;
    background-color: #fff;
}

input[type="submit"] {
    border: 1px solid #6F6F6F;
    border-bottom-color: #333333;
    background-color: #4D4D4D;
    text-shadow: 0px -1px #3F3F3F;
    color: #B9B9B9;
    margin: 2px;
    padding: 2px 8px;
    border-radius: 4px;
}

/*region layout*/
html,
body,
#main {
    height: 100%;
    font-size: 14px;
    background-color: #eee;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#top_part {
    min-height: 100%;
    padding-bottom: 30px;
}

#footer {
    clear: both;
    margin-top: -30px;
    height: 30px;
    background-color: #9B9B9B;
    color: #414141;
}

.width_limit {
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

#header {
    background-color: #272727;
    color: #9B9B9B;
    text-shadow: 0 -1px #030303;
    margin-bottom: 20px;
}

#title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

/*endregion*/

/*region Хлебные крошки (breadcrumbs)*/
#breadcrumbs {
    height: 30px;
    line-height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 1px 1px #FFFFFF;
    padding: 0 16px;
    background-color: #eee;
}

#breadcrumbs span {

}

#breadcrumbs span + span:before {
    display: inline-block;
    text-align: center;
    content: ">";
    width: 20px;
    height: 100%;
}

/*endregion*/

/*region Tabs*/
#tabs {
    text-align: right;
    padding: 0 5px;
}

#tabs span {
    height: 30px;
    min-width: 60px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px 5px 0 0;
}

#tabs span.active {
    background-color: #eee;
}

/*endregion*/

/*region Меню пользователя*/
#user_menu {
    position: absolute;
    bottom: 0;
    right: 10px;
    border: 1px solid #414141;
    border-bottom-width: 0;
    height: 30px;
    line-height: 29px;
    border-radius: 5px 5px 0 0;
    text-align: right;
    overflow: hidden;
}

#user_menu > span {
    display: block;
    text-align: center;
    padding: 0 10px;
}

#user_menu:hover {
    overflow: visible;
}

#user_menu:hover,
#user_menu:hover #user_menu_drop {
    background-color: #272727;
}

#user_menu_drop {
    height: 0;
    overflow: hidden;
    border: 1px solid #414141;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#user_menu:hover #user_menu_drop {
    position: relative;
    height: auto;
    z-index: 1;
}

#user_menu_drop span {
    display: block;
    padding: 0 10px;
}

#user_menu_drop span:hover {
    background-color: #303030;
}

/*endregion*/

#menu {
    width: 30%;
    float: left;
}

#content {
    width: 70%;
    float: right;
}

/* замена ссылке */
[data-href]:not([data-href=""]) {
    cursor: pointer;
}

.message {
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #b1ff81;
    color: #0f7403;
    background-color: #d0ffbc;
    margin: 20px;
}

.message.error {
    border-color: #ff6b64;
    color: #5d0100;
    background-color: #ffd6d5;
}

.content .content {
    margin-left: 20px;
    margin-right: 10px;
}

/*region Post */
.post {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    padding: 5px;
    line-height: 150%;
}

.post:first-child {
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post:last-child {
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.post .post_image {

}

.post .post_head {

}

.post .post_head .post_icon {

}

.post .post_head .post_title {

}

.post .post_head .post_actions {

}

.post .post_head .post_actions_icon {

}

.post .post_head .post_counter {

}

.post .post_head .post_time {

}

.post .post_content_html {

}

.post .post_bottom_html {
    text-align: right;
}

/*endregion*/

/*region pagination*/
.pagination {

}

.pagination ul {
    display: block;
    text-align: center;
}

.pagination ul li {
    list-style: none;
    display: inline-block;
    line-height: 24px;
    padding: 5px 10px;
    border: 1px solid;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.pagination ul li:hover {
    background-color: #eeeeee;
}

.pagination ul li.disabled {
    display: none;
}

.pagination ul li.active,
.pagination ul li.active:hover {
    background-color: #414141;
    color: #e0e0e0;
}

/*endregion*/





